.container {
  width: 600px;
  height: 400px;
  background-color: #4682B4;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
  padding: 10px;
}

h1 {
  margin-top: 10%;
  user-select: none;
}

.time-container{
  text-align: center;
  display: flex;
  font-size: 40px;
}

.time {
  margin: 0 auto;
  margin-top: 5%;
  padding: 10px;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  user-select: none;
}